[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.26.0"
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
moviepy = "*"
yt-dlp = "*"
openai-whisper = "*"
ffmpeg-python = "*"
argostranslate = "*"
argos-translate-files = "*"
pydub = "*"
coqui-tts = "*"
wexpect = "*"

[dev-packages]

[requires]
python_version = "3.12"
