argos-translate-files
argostranslate
fastapi[standard]
ffmpeg-python
Jinja2
moviepy
openai-whisper
opencv-python
pydantic
pydub
srt
uvicorn
whisper-timestamped
yt-dlp[default]
ffmpeg-python
fish-audio-sdk
python-dotenv