{% extends "base.html" %}

{% block title %}Home - DubMaster{% endblock %}

{% block content %}
  <!-- Include the popup HTML -->
  {% include "elements/popup.html" %}
  <form class="dubbing-form" method="post" action="/success">
    <fieldset class="fieldset">
      <legend class="form-legend">Dubbing Tool</legend>
        <div class="mb-3">
          <label for="TextInput" class="form-label">YouTube Video URL:</label>
          <input type="text" id="TextInput" name="video_url" required class="form-control" placeholder="Enter Your YouTube Video URL Here:">
        </div>
        <div class="mb-3">
            <label for="SelectLanguage" class="form-label">Select the Language of the Video</label>
            <select id="SelectLanguage" name="from_lang" class="form-select">
                <option>English</option>
            </select>
        </div>
        <div class="mb-3">
          <label for="SelectDubLanguage" class="form-label">Select the Language You'd like to dub the video in</label>
          <select id="SelectDubLanguage" name="to_lang" class="form-select">
              <option>Spanish</option>
          </select>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" required type="checkbox" name="tos_check" id="FieldsetCheck" value=true>
            <label class="form-check-label" for="FieldsetCheck">
              Agree to <a href="#" id="tosLink">Terms of Service</a>
            </label>
          </div>
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
  <script type="module" src="static/scripts/popup.js"></script>
{% endblock %}