{% extends "base.html" %}

{% block title %}Success - DubMaster{% endblock %}

{% block content %}
<div class="success-container">
  <h1>Success Page</h1>
  <p>Hooray, Your video has been processed successfully!</p>
</div>

<div id="spinner">
  <div id="page">
    <div id="container">
        <div id="ring"></div>
        <div id="ring"></div>
        <div id="ring"></div>
        <div id="ring"></div>
        <div id="h3">loading</div>
    </div>
  </div>
</div>

<div id="video-container" class="video-container">
  <video id="translated-video" width="720" controls></video>
</div>

<form class="download-video" id="download-container"method="get" action="/download-video">
  <button id="download-button" class="button">
    <span class="button-content">Download </span>
  </button>
</form>

<script type="module" src="static/scripts/success.js"> </script>
{% endblock %}